<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>News Search</title>
    <link rel="stylesheet" href="style.css">
</head>
<h1>Results</h1>

<div>
    <%- table%>
    <br>
    <%- table2%>
</div>

<hr>
<a href="/">HOME</a>