<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hackernews Reasearch</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1> <img alt="Hackernews" src="hackerNews.png"width="100" height="100" >  Hackernews Reasearch</h1>

If you would like to search for a keyword within the top 100 news stories select <a href="/keyword">keyword</a>
<br>
<br>
<hr>

If you would like clear your saved news stories select <a href="/clear">clear</a>
<br>
<br>
<hr>
If you would like see data by date select <a href="/getDate">Lists</a>
<br>
<br>
<hr>

    <a href="/"> HOME </a><br>
</body> 